---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import '../styles/global.css';
const allposts = Object.values(import.meta.glob('.posts/*md', { eager: true }));
---
<html lang="ja">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Astro</title>
  </head>
  <body>
 <Header />

    <h1>私のAstro学習ブログ</h1>
       <ul>
        {allposts.map((post: any) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
      </ul>

  </body>
</html>