---
import '../styles/global.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Astro</title>
  </head>
  <body>
  <a href="/">ホーム</a>
  <a href="/about/">概要</a>
  <a href="/blog/">ブログ</a>

	<h1>たべまろのAstroサイトへようこそ!</h1>
  <p>ブログを立ち上げるためにAstroの使い方を勉強中</p>
  <p>手始めにこのサイトを作ってみました</p>
  </body>
</html>