---
import Footer from '../components/Footer.astro';
import Nabigation from '../components/Nabigation.astro';
import '../styles/global.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Astro</title>
  </head>
  <body>
  <Nabigation />
	<h1>たべまろのAstroサイトへようこそ!</h1>
  <p>ブログを立ち上げるためにAstroの使い方を勉強中</p>
  <p>手始めにこのサイトを作ってみました</p>
    <Footer />
  </body>
</html>